/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Rainbow Styles */
#rainbow {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5em;
    border-radius: 100px;
    background: linear-gradient(230deg, #ffbfc5, #ffffff, #a8d1e7);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    border:5px solid #deedce;
}

@media only screen and (max-width: 600px) {
    #rainbow{
        padding: 5px;
    }
  }

#rainbow:hover{    
    border:5px solid #B3DBD8;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

body{
    background-color: var(--bg-color);
    color: var(--color);
    width: 70vw;
    margin: auto;
    font-family: 'Vollkorn';
}

header{
    margin-bottom: 2em;
}

h1{
    font-size: 4rem;
    font-family: 'Vollkorn';
    font-weight: 800;
}

#star-chart{
    font-size: 2rem;
    display: block;
    letter-spacing: .01em;
    margin-bottom: .5em;
}

.newHabits{
    margin-bottom: 1em;
}

.newHabits summary, .themeSelection summary{
    font-size: 2rem;
    margin-bottom: .5em;
    cursor: pointer;
}

.newHabits form, .theme-list{
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: 1em;
    border: 3px solid var(--color);
    border-radius: 10px;
    background-color: var(--altBg1)
}


.newHabits label{
    display: inline-block;
    min-width: 4em;
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.newHabits input{
    width: 40vw;
    margin-bottom: .5em;
}

.habit-highlight{
    color: var(--highlight);
    font-weight: bold;
}

.habit-text-input{
    padding: .5em;
    width: 90vw;
    font-size: 1.25rem;
    color: #333;
    word-break: break-word;
}

.new-habit-button, .theme button{
    width: 5em;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin-right: .25em;
    padding: .5em;
    background-color: #F0F0F0;
    border-radius: .25em;
    border: 3px outset #aaa;
}

.new-habit-button:active, .theme button:active{
    border: 3px outset #aaaaaa00;
}

.theme-list{
    display: inline-block;
}

.theme{
    display: inline-block;
    margin-right: 1em;
}



.habit-lists{
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    border: 3px solid var(--color);
    border-radius: 10px;
}

.habit-lists h2{
    padding: .5em 0em 0em .5em;
    font-size: 2rem;
    width: 4em;
    font-weight: 600;
}

.habit-lists ul{
    width: 100%;
}

.habit-lists li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.habit-lists li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.habit-lists li{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .25em;
    display: flex;
    justify-content: space-between;
}

.habit-lists span{
    display: inline-block;
    font-size: 1.25rem;
    border-radius: .25em;
    padding:.4em .5em .25em .5em;
    font-family: 'Vollkorn';
}

.habit-lists li:nth-child(odd){
    background-color: var(--altBg1);
}

.habit-lists li:nth-child(even){
    background-color: var(--altBg2);
}

.counter, .footer-controls button{
    font-size: .75em;
    margin-right: 1em;
    background-color: #F0F0F0;
    font-family: sans-serif;
    padding: .5em;
    border: 3px outset #aaa;
    border-radius: .25em;
    cursor: pointer;
    transition: all .1s;
}

.counter:active{
    border: 3px outset #aaaaaa00;
}

.learned-habit{
    border: 3px outset #ffe345;
}

.habit-ui{
    display: flex;
}

.habit-ui details > summary {
    list-style: none;
    cursor: pointer;
    margin-top: .4em;
}
.habit-ui details > summary::-webkit-details-marker {
    display: none;
}

.habit-ui button{
    margin-right: 1em;
}

.controls button, .footer-controls button{
    border: 2px outset #aaa;
}

.controls button:active, .footer-controls button{
    border: 2px outset #aaaaaa00;
}

.footer-controls{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

#exported-habits{
    margin-left: 2em;
}


@media only screen and (max-width: 800px) {
    body{
        width: 100%;
        padding: 1em;
        box-sizing:border-box;
    }

    h1{
        font-size: 2.4rem;
    }

    .newHabits label{
        font-size: 1.25rem;
        min-width: 3.5em;
        text-align: left;
    }

    .newHabits form{
        display: flex;
    }

    .newHabits summary, .themeSelection summary{
        font-size: 1.5rem;
    }

    .themeSelection button{
        margin-bottom: 1em;
        margin-right: 0em;
    }

    .newHabits input{
        padding: 0em;
        width: 100%;
        font-size: 1.25rem;
    }

    .new-habit-button .themeSelection button{
        font-size: 1rem;
    }

    #star-chart{
        display: block;
        min-height: 1em;
        word-wrap:break-word;
    }

    .habits{
        padding: 0px;
    }


    .habit-lists{
        flex-direction: column;
    }

    .habit-lists h2{
        padding-left: .25em;
    }

    .habit-lists li{
        justify-content: space-between;
    }

    .habit-lists button{
        width: 4em;
        height: 2em;
        margin-right: .5em;
        padding: .25em;
    }

    .controls button{
        width: 100%;
        border: 3px outset #aaa;
    }

    .habit-lists span{
        max-width: 50vw;
    }
    
    .counter{
        width: 3em;
        text-align: right;
    }
    
  }