/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * @license
 * MyFonts Webfont Build ID 4207489, 2021-11-08T18:55:10-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FF Chartwell Bars Regular by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/chartwell/bars/
 * Copyright: 2012 published by Monotype GmbH
 * 
 * Webfont: FF Chartwell Areas by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/chartwell/areas/
 * Copyright: 2015 published by Monotype GmbH
 * 
 * 
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/403381");
  
@font-face {
  font-family: "FFChartwellBarsRegular";
  src: url('webFonts/FFChartwellBarsRegular/font.woff2') format('woff2'), url('webFonts/FFChartwellBarsRegular/font.woff') format('woff');
}
@font-face {
    font-family: "FFChartwellAreas";
  src: url('webFonts/FFChartwellAreas/font.woff2') format('woff2'), url('webFonts/FFChartwellAreas/font.woff') format('woff');
} */


/* Rainbow Styles */
#rainbow {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5em;
    border-radius: 100px;
    background: linear-gradient(230deg, #ffbfc5, #ffffff, #a8d1e7);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    border:5px solid #deedce;
}

@media only screen and (max-width: 600px) {
    #rainbow{
        padding: 5px;
    }
  }

#rainbow:hover{    
    border:5px solid #B3DBD8;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

body{
    background-color: #F7E293;
    width: 70vw;
    margin: auto;
    font-family: 'Vollkorn';
}

header{
    margin-bottom: 2em;
}

h1{
    font-size: 4rem;
    font-family: 'Vollkorn';
    font-weight: 800;
    font-style: italic;
}

.areas{
    font-family: "FFChartwellAreas";
    /* font-variant-ligatures: discretionary-ligatures; */
}

#star-chart{
    margin-top: 1em;
    font-size: 2rem;
    display: block;
}

.newHabits summary{
    font-size: 2rem;
    margin-bottom: .5em;
    cursor: pointer;
}

.newHabits form{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
}

.newHabits label{
    display: inline-block;
    width: 6rem;
    font-size: 1.25rem;
}

.habit-text-input{
    padding: 0em;
    width: 90vw;
    font-size: 1.25rem;
    margin-right: 1em;
    background-color: #F0F0F0;
    color: #F36879;
    word-break: break-word;
}

.new-habit-button{
    font-size: 1rem;
    cursor: pointer;
    border:2px solid #2A9C9D;
    margin-right: .25em;
}

.habits{
    padding: 1em;
}

.habit-lists{
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    border: 3px solid black;
}

.habit-lists h2{
    padding: .5em 0em 0em .5em;
    font-size: 2rem;
    width: 4em;
    font-weight: 600;
}

.habit-lists ul{
    width: 100%;
}

.habit-lists li{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .25em;
    display: flex;
    justify-content: space-between;
}

.habit-lists span{
    display: inline-block;
    font-size: 1.25rem;
    border-radius: .25em;
    background-color: #F0F0F0;
    padding:.4em .5em .25em .5em;
    font-family: 'Vollkorn';
}

.habit-lists li:nth-child(odd){
    background-color: #FDB078;
}

.habit-lists li:nth-child(even){
    background-color: #F36879;
}

.counter{
    font-size: .75em;
    margin-right: 1em;
    background-color: #F0F0F0;
    font-family: sans-serif;
    box-shadow: 4px 4px #aaa;
    padding: .5em;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    transition: all .1s;
}

.counter:active{
    box-shadow: 1px 1px #aaa;
}

.habit-ui{
    display: flex;
}

.habit-ui details > summary {
    list-style: none;
    cursor: pointer;
    margin-top: .4em;
}
.habit-ui details > summary::-webkit-details-marker {
    display: none;
}

.habit-ui button{
    margin-right: 1em;
}


@media only screen and (max-width: 800px) {
    body{
        width: 100vw;
    }

    h1{
        font-size: 2.4rem;
    }

    .newHabits label{
        font-size: 1.25rem;
    }

    .newHabits{
        display: flex;
        flex-direction: column;
    }

    .newHabits summary{
        font-size: 1.5rem;
    }

    .habit-text-input {
        padding: 0em;
        width: 90vw;
        font-size: 1.25rem;
        margin-right: 1em;
    }

    .new-habit-button{
        font-size: 1rem;
    }

    #star-chart{
        display: block;
        min-height: 1em;
        word-wrap:break-word;
        margin-bottom: .5em;
    }

    .habits{
        padding: 0px;
    }


    .habit-lists{
        flex-direction: column;
    }

    .habit-lists h2{
        padding-left: 0px;
    }

    .habit-lists li{
        justify-content: space-between;
    }

    .habit-lists button{
        width: 100%;
        height: 2em;
        margin-right: .5em;
    }

    .habit-lists span{
        max-width: 50vw;
        text-align: center;
    }
    
    .counter{
        width: 3em;
        text-align: right;
    }
    
  }