/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Rainbow Styles */
#rainbow {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5em;
    border-radius: 100px;
    background: linear-gradient(230deg, #ffbfc5, #ffffff, #a8d1e7);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    border:5px solid #deedce;
}

@media only screen and (max-width: 600px) {
    #rainbow{
        padding: 5px;
    }
  }

#rainbow:hover{    
    border:10px solid #B3DBD8;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

body{
    background-color: #F7E293;
    width: 70vw;
    margin: auto;
    font-family: 'Vollkorn';
}

header{
    margin-bottom: 2em;
}

h1{
    font-size: 4rem;
    font-family: 'Vollkorn';
    font-weight: 800;
    font-style: italic;
}

.newHabits summary{
    font-size: 2rem;
    margin-bottom: .5em;
    cursor: pointer;
}

.newHabits form{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
}

.newHabits label{
    display: inline-block;
    width: 6rem;
    font-size: 2rem;
}

.habit-text-input{
    width: 40rem;
    font-size: 2rem;
    margin-right: 1em;
    background-color: whitesmoke;
    color: tomato;
}

.new-habit-button{
    font-size: 1.55rem;
    cursor: pointer;
}

.habits{
    padding: 1em;
}

.habit-lists{
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    border: 3px solid black;
}

.habit-lists h2{
    padding: .25em;
    font-size: 2rem;
    width: 4em;
    font-weight: 600;
}

.habit-lists ul{
    width: 100%;
}

.habit-lists li{
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
    padding: .25em;
}

.habit-lists li:nth-child(odd){
    background-color: #FDB078;
}

.habit-lists li:nth-child(even){
    background-color: #F36879;
}